.container {
  display: flex;
  width: 100%;
}

.left-panel {
  padding: 20px;
  color: white;
  width: 70%;
}

.right-panel {
  background-color: #f5f5f5;
  padding: 20px;
  width: 30%;
  float: left;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;
}

.imagen-container {
  width: 60%;
  margin: auto;
}

.imagen-container img {
  width: 100%;
  height: auto;
}

.form-label{
  color: black;
  font-weight: bold;
}
