<body>
  <div class="container">
    <div class="left-panel">
      <br>
      <h1 class="divTransparente">Reciclar Si Paga</h1>
      <br>
      <div class="divTransparente" style="padding: 8%; text-align: center;">
        <form autocomplete="on">
          <label for="email" class="form-label">E-mail:</label>
          <input type="email" id="email" name="email" placeholder="usuario@dominio.com.co" required>

          <label for="password" class="form-label">Contraseña:</label>
          <input type="password" id="password" name="password" required>

          <button type="submit" class="btn success">Ingresar</button>
        </form>
        <hr>
        <p style="background-color: rgba(240, 248, 255, 0.534);"><a routerLink="/registro">¿Desea registrarse?</a></p>
      </div>
    </div>

    <div class="right-panel">
      <div class="info-box">
        <div class="imagen-container">
          <img src="../../../assets/informacion.gif" alt="informacion">
        </div>
        <hr>
        <p style="text-align: justify;">
          Reciclar Si Paga, es una solución para las familias que de forma responsable desean obtener beneficios, por
          reportar en la aplicación la generación de reciclaje producido en los hogares, y realizar la correcta
          disposición y entrega a los agentes autorizados.
        </p>
        <br><br><br>
        <p><em>*Revisar disponibilidad de cobertura</em></p>
      </div>
    </div>
  </div>
</body>
