<br>
<div class="menu-container">
    <!-- Tarjeta 1 -->
    <div class="card">
      <img src="../../../assets/Solicitud.png" alt="Aportes">
      <p><strong>Mis Aportes:</strong><br> Kg.</p>
      <button class="btn success" routerLink="/layout/solicitud">Solicitar recolección</button>
    </div>

    <!-- Tarjeta 2 -->
    <div class="card">
      <img src="../../../assets/Puntos.png" alt="Puntos">
      <p><strong>Mis Puntos:</strong><br>Puntos</p>
      <button class="btn success">Redimir puntos</button>
    </div>

    <!-- Tarjeta 3 -->
    <div class="card">
      <img src="../../../assets/ActualizaDatos.png" alt="Actualizar datos">
      <p><strong>&nbsp;</strong><br>&nbsp;</p>
      <button class="btn success">Actualizar datos</button>
    </div>
  </div>
